<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
	<div class="center hero-unit">
	<h1>Welcome to Simple Twitter</h1>
    <h2>This application was developed by <%= link_to "Laurent Jacquot", about_path %></h2>
    <h2>It is a minimalist Twitter­-style app developed with Ruby on Rails</h2>
    <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
    <h2>It uses an industrial­ strength system for validating, storing,</h2>
    <h2>and retrieving user information</h2>
    <h2>that includes microposts and feeds.</h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
    <h2>Note: This is a promotional website for 
      <%= link_to "Laurent Jacquot", about_path %>, software engineer.</h2>
	</div>
<% end %>
